on:
  release:
    types: [published]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: GitHub Releases to Discord
        uses: SethCohen/github-releases-to-discord@v1
        with:
          webhook_url: https://discord.com/api/webhooks/1475163124741967974/Xq1meDgFjtszgQuRzH5DneCZAB0MPB16jCIFmEHAeHtNgO415YhzVHs27DOvQLrcIoAh
          color: "2105893"
          username: "Reticle Releases"
          avatar_url: "https://cdn.discordapp.com/icons/1475097094007292070/bc5a924703e22583cfa24aed20cf3519.webp?size=80&quality=lossless"
          content: "||@everyone||"
          footer_title: "Changelog"
          reduce_headings: true
